/*
 * 404
 */
.error404 {
    text-align: center;
    padding: 50px 20px;
}

.error404 .error404-image {
    width: 70%;
    max-width: 400px;
    margin-bottom: 40px;
}

.error404 h1 {
    font-size: 24px;
    color: #1A1A1E;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 0;
}

.error404 p {
    color: #383840;
    font-size: 13px;
}

.error404 .button {
    height: 42px;
    border-radius: 2px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #383840;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.error404 .button:hover {
    color: #383840;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}
