/*
    Theme Name: Hello Elementor by SUPR
    Template: hello-elementor
    Description: customization of hello-elementor theme
*/
a:focus,
input:focus,
textarea:focus,
button:focus,
a:hover,
input:hover,
textarea:hover,
button:hover {
    outline: none;
}

fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
}

/* Messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 15px;
    font-size: 13px;
    color: #383840;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    display: none;
    visibility: hidden;
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
    color: #383840 !important;
    text-decoration: underline;
}

.woocommerce-error a:hover,
.woocommerce-error a:active,
.woocommerce-info a:hover,
.woocommerce-info a:active,
.woocommerce-message a:hover,
.woocommerce-message a:active {
    color: #1A1A1E;
}

.woocommerce-error {
    background: #FFF5F4;
    border: 1px solid #BD392F;
}

.woocommerce-info {
    background: #F8F8F8;
    border-color: #E0E0E0;
}

.woocommerce-message {
    background: #F4F4F4;
    border: 1px solid #C6C6C7;
}

.woocommerce-notices-wrapper {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 999;
}

.woocommerce-notices-wrapper .woocommerce-message {
    border: none;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.woocommerce-notices-wrapper .woocommerce-message a.button {
    height: 36px;
    border-radius: 2px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
    color: #383840;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    line-height: 36px;
}

.woocommerce-notices-wrapper .woocommerce-message a.button:hover {
    color: #383840;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

/*
 * Account
 */
nav.woocommerce-MyAccount-navigation {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.woocommerce-MyAccount-navigation ul li {
    padding: 0;
    margin: 0;
}

nav.woocommerce-MyAccount-navigation ul li a {
    display: block;
    padding: 15px;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.woocommerce-MyAccount-navigation ul li a::before {
    display: none !important;
}

nav.woocommerce-MyAccount-navigation ul li a:hover {
    background: #F8F8F8;
    color: #383840 !important;
}

nav.woocommerce-MyAccount-navigation ul li.is-active a {
    font-weight: 500;
    background: #F8F8F8;
    color: #383840 !important;
}

.woocommerce-MyAccount-content * {
    outline: none !important;
}

.woocommerce-MyAccount-content *:hover,
.woocommerce-MyAccount-content *:focus {
    outline: none !important;
}

.woocommerce-MyAccount-content h2,
.woocommerce-MyAccount-content h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.woocommerce-MyAccount-content .woocommerce-Address,
.woocommerce-MyAccount-content .woocommerce-columns--addresses .woocommerce-column {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.woocommerce-MyAccount-content .woocommerce-Address a,
.woocommerce-MyAccount-content .woocommerce-columns--addresses .woocommerce-column a {
    border-radius: 2px !important;
    background-color: #F8F8F8 !important;
    border: 1px solid #E0E0E0 !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding: 8px 16px !important;
    color: #383840 !important;
}

.woocommerce-MyAccount-content .woocommerce-Address a:hover,
.woocommerce-MyAccount-content .woocommerce-columns--addresses .woocommerce-column a:hover {
    color: #383840 !important;
    background-color: #E0E0E0 !important;
    border-color: #E0E0E0 !important;
}

.woocommerce-MyAccount-content address,
.woocommerce-MyAccount-content .woocommerce-table {
    font-size: 13px;
    border: none !important;
    padding: 0 !important;
}

.woocommerce-MyAccount-content label {
    line-height: 2.5 !important;
    font-size: 10px !important;
    text-transform: uppercase !important;
}

.woocommerce-MyAccount-content .input-text,
.woocommerce-MyAccount-content input[type=email],
.woocommerce-MyAccount-content input[type=password],
.woocommerce-MyAccount-content input[type=search],
.woocommerce-MyAccount-content input[type=tel],
.woocommerce-MyAccount-content input[type=text],
.woocommerce-MyAccount-content input[type=url],
.woocommerce-MyAccount-content textarea {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 2px !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.woocommerce-MyAccount-content .input-text:hover,
.woocommerce-MyAccount-content .input-text:focus,
.woocommerce-MyAccount-content input[type=email]:hover,
.woocommerce-MyAccount-content input[type=email]:focus,
.woocommerce-MyAccount-content input[type=password]:hover,
.woocommerce-MyAccount-content input[type=password]:focus,
.woocommerce-MyAccount-content input[type=search]:hover,
.woocommerce-MyAccount-content input[type=search]:focus,
.woocommerce-MyAccount-content input[type=tel]:hover,
.woocommerce-MyAccount-content input[type=tel]:focus,
.woocommerce-MyAccount-content input[type=text]:hover,
.woocommerce-MyAccount-content input[type=text]:focus,
.woocommerce-MyAccount-content input[type=url]:hover,
.woocommerce-MyAccount-content input[type=url]:focus,
.woocommerce-MyAccount-content textarea:hover,
.woocommerce-MyAccount-content textarea:focus {
    border-color: #A0A0A0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.woocommerce-MyAccount-content textarea.input-text {
    height: 100px !important;
    line-height: 1.5 !important;
}

.woocommerce-MyAccount-content p {
    font-size: 13px;
}

.woocommerce-MyAccount-content table {
    border: none !important;
    background: transparent !important;
    margin: 0 !important;
}

.woocommerce-MyAccount-content table tr,
.woocommerce-MyAccount-content table th,
.woocommerce-MyAccount-content table td {
    border: none !important;
    background: transparent !important;
    margin: 0 !important;
}

.woocommerce-MyAccount-content table th {
    font-weight: 500 !important;
    text-transform: uppercase;
}

.woocommerce-MyAccount-content table * {
    font-size: 11px;
}

.woocommerce-MyAccount-content table.woocommerce-orders-table th {
    border-bottom: 1px solid #E0E0E0 !important;
}

.woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr:hover {
    background: #FAFAFA !important;
}

.woocommerce-MyAccount-content .button,
.woocommerce-MyAccount-content .woocommerce-button {
    border-radius: 2px !important;
    background-color: #F8F8F8 !important;
    border: 1px solid #E0E0E0 !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    padding: 8px 16px !important;
    color: #383840 !important;
}

.woocommerce-MyAccount-content .button:hover,
.woocommerce-MyAccount-content .woocommerce-button:hover {
    color: #383840 !important;
    background-color: #E0E0E0 !important;
    border-color: #E0E0E0 !important;
}

/*
 * Products
 */
ul.products {
    padding: 0;
}

.elementor-widget-woocommerce-products.elementor-wc-products .added_to_cart {
    display: none;
}

.stock.in-stock,
.stock.out-of-stock {
    color: #858585;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 10px;
    background: #F8F8F8;
}

.stock.out-of-stock {
    color: #BD392F;
}

.stock.in-stock::before,
.stock.out-of-stock::before {
    display: none !important;
    visibility: hidden !important;
}

.woocommerce .quantity {
    margin-right: 0.5em !important;
}

.woocommerce .quantity .qty {
    width: auto;
}

.woocommerce div.product p.price {
    color: #1A1A1E;
}

.woocommerce div.product form.variations_form table.variations * {
    border: none;
    background: transparent;
    text-align: left;
}

.woocommerce div.product form.variations_form table.variations th,
.woocommerce div.product form.variations_form table.variations td {
    min-height: 45px;
}

.woocommerce div.product form.variations_form table.variations td.value::before {
    content: none !important;
}

.woocommerce div.product form.variations_form table.variations select {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 2px !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: inherit !important;
}

.woocommerce div.product form.variations_form table.variations select:hover,
.woocommerce div.product form.variations_form table.variations select:focus {
    border-color: #A0A0A0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.woocommerce div.product form.variations_form table.variations a.reset_variations {
    margin-left: 0.5em;
}

.woocommerce div.product form.variations_form .single_variation_wrap > div {
    margin-top: 1em !important;
}

.woocommerce-product-attributes.shop_attributes * {
    border: none;
    text-align: left;
    background: transparent !important;
}

.woocommerce-product-attributes.shop_attributes tr,
.woocommerce-product-attributes.shop_attributes th,
.woocommerce-product-attributes.shop_attributes td {
    border: none !important;
}

.wc-gzd-additional-info {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px !important;
    color: #999 !important;
    display: inline !important;
    line-height: 0.9em;
}

.wc-gzd-additional-info a {
    color: #999 !important;
    text-decoration: underline !important;
}

.wc-gzd-additional-info a:hover {
    color: #666 !important;
}

.widget {
    font-size: 13px;
    margin-bottom: 40px;
}

.widget .widget-title {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    font-weight: 300;
    text-transform: uppercase;
}

.widget input[type=date],
.widget input[type=email],
.widget input[type=number],
.widget input[type=password],
.widget input[type=search],
.widget input[type=tel],
.widget input[type=text],
.widget input[type=url],
.widget select,
.widget textarea {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 2px !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.widget input[type=date]:hover,
.widget input[type=date]:focus,
.widget input[type=email]:hover,
.widget input[type=email]:focus,
.widget input[type=number]:hover,
.widget input[type=number]:focus,
.widget input[type=password]:hover,
.widget input[type=password]:focus,
.widget input[type=search]:hover,
.widget input[type=search]:focus,
.widget input[type=tel]:hover,
.widget input[type=tel]:focus,
.widget input[type=text]:hover,
.widget input[type=text]:focus,
.widget input[type=url]:hover,
.widget input[type=url]:focus,
.widget select:hover,
.widget select:focus,
.widget textarea:hover,
.widget textarea:focus {
    border-color: #A0A0A0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

.widget button,
.widget .button,
.widget .search-submit,
.widget input[type=submit] {
    height: 42px;
    border-radius: 2px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #383840;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.widget button:hover,
.widget .button:hover,
.widget .search-submit:hover,
.widget input[type=submit]:hover {
    color: #383840;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

.widget form.woocommerce-product-search button {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    list-style: none;
    margin: 0;
    padding: 2px 0;
}

.widget ul li ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

.widget.widget_recently_viewed_products li {
    margin-bottom: 20px;
}

.widget.widget_recently_viewed_products li span.woocommerce-Price-amount {
    display: block;
    margin-bottom: 10px;
}

.widget.widget_recently_viewed_products li p.wc-gzd-additional-info {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 0.9em;
    color: #999;
}

.widget.widget_recently_viewed_products li p.wc-gzd-additional-info a {
    font-weight: normal;
    color: #999;
    text-decoration: underline;
}

.widget.widget_price_filter .widget-title {
    margin-bottom: 20px;
}

.widget.widget_price_filter .ui-slider {
    background-color: #E0E0E0;
}

.widget.widget_price_filter .ui-slider .ui-slider-range,
.widget.widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #545454;
}

body.woocommerce-cart h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #1A1A1E;
}

body.woocommerce-cart .woocommerce .cart-collaterals .cart_totals,
body.woocommerce-cart .woocommerce-page .cart-collaterals .cart_totals {
    width: 40%;
}

body.woocommerce-cart table {
    border: none !important;
    background: transparent;
}

body.woocommerce-cart table * {
    font-size: 12px;
}

body.woocommerce-cart table th {
    font-weight: 500 !important;
}

body.woocommerce-cart table.cart tr,
body.woocommerce-cart table.cart thead,
body.woocommerce-cart table.cart tfoot {
    border: none;
}

body.woocommerce-cart table.cart td,
body.woocommerce-cart table.cart th {
    padding: 8px;
    border-top: none !important;
    border-right: none;
    border-bottom: 1px solid #E0E0E0;
    border-left: none;
    background: transparent !important;
}

body.woocommerce-cart table.cart tr {
    background: transparent !important;
}

body.woocommerce-cart table.cart tr:hover td,
body.woocommerce-cart table.cart tr:hover th {
    background-color: #F8F8F8 !important;
}

body.woocommerce-cart table.cart .product-price,
body.woocommerce-cart table.cart .product-subtotal,
body.woocommerce-cart table.cart .product-quantity {
    text-align: right;
    width: 160px;
}

body.woocommerce-cart table.cart .product-price input,
body.woocommerce-cart table.cart .product-subtotal input,
body.woocommerce-cart table.cart .product-quantity input {
    float: right;
}

body.woocommerce-cart table.cart .product-remove {
    text-align: center;
    width: 40px;
}

body.woocommerce-cart table.cart .product-thumbnail {
    width: 60px;
}

body.woocommerce-cart .cart_totals {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(223, 227, 232, 0.5);
    border: 1px solid #E0E0E0;
}

body.woocommerce-cart .cart_totals table tr,
body.woocommerce-cart .cart_totals table thead,
body.woocommerce-cart .cart_totals table tfoot {
    border: none;
}

body.woocommerce-cart .cart_totals table td,
body.woocommerce-cart .cart_totals table th {
    padding: 4px;
    border: none !important;
}

body.woocommerce-cart .cart_totals table tr,
body.woocommerce-cart .cart_totals table td,
body.woocommerce-cart .cart_totals table th {
    background: transparent !important;
}

body.woocommerce-cart .cart_totals table th {
    font-weight: 500;
}

body.woocommerce-cart .cart_totals table .cart-subtotal td,
body.woocommerce-cart .cart_totals table .shipping td,
body.woocommerce-cart .cart_totals table .order-total td,
body.woocommerce-cart .cart_totals table .order-tax td {
    text-align: right;
}

body.woocommerce-cart .cart_totals table .order-total th,
body.woocommerce-cart .cart_totals table .order-total td,
body.woocommerce-cart .cart_totals table .order-total .amount {
    padding-top: 15px;
    font-size: 16px !important;
    color: #1A1A1E;
}

body.woocommerce-cart .cart_totals table .order-tax th,
body.woocommerce-cart .cart_totals table .order-tax td {
    padding: 0 8px;
    font-size: 11px;
}

body.woocommerce-cart .cart_totals .shipping-calculator-button {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

body.woocommerce-cart .cart_totals .shipping-calculator-button::after {
    display: none;
}

body.woocommerce-cart input[type=date],
body.woocommerce-cart input[type=email],
body.woocommerce-cart input[type=number],
body.woocommerce-cart input[type=password],
body.woocommerce-cart input[type=search],
body.woocommerce-cart input[type=tel],
body.woocommerce-cart input[type=text],
body.woocommerce-cart input[type=url],
body.woocommerce-cart select,
body.woocommerce-cart textarea {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 2px !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

body.woocommerce-cart input[type=date]:hover,
body.woocommerce-cart input[type=date]:focus,
body.woocommerce-cart input[type=email]:hover,
body.woocommerce-cart input[type=email]:focus,
body.woocommerce-cart input[type=number]:hover,
body.woocommerce-cart input[type=number]:focus,
body.woocommerce-cart input[type=password]:hover,
body.woocommerce-cart input[type=password]:focus,
body.woocommerce-cart input[type=search]:hover,
body.woocommerce-cart input[type=search]:focus,
body.woocommerce-cart input[type=tel]:hover,
body.woocommerce-cart input[type=tel]:focus,
body.woocommerce-cart input[type=text]:hover,
body.woocommerce-cart input[type=text]:focus,
body.woocommerce-cart input[type=url]:hover,
body.woocommerce-cart input[type=url]:focus,
body.woocommerce-cart select:hover,
body.woocommerce-cart select:focus,
body.woocommerce-cart textarea:hover,
body.woocommerce-cart textarea:focus {
    border-color: #A0A0A0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

body.woocommerce-cart input#coupon_code {
    min-width: 160px;
}

body.woocommerce-cart button,
body.woocommerce-cart .button {
    height: 42px;
    border-radius: 2px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #383840;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

body.woocommerce-cart button:hover,
body.woocommerce-cart .button:hover {
    color: #383840;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

body.woocommerce-cart a.button.alt {
    border-color: #6E8E31;
    background-color: #8CB43E;
    color: #FFF;
    font-size: 13px;
}

body.woocommerce-cart a.button.alt:hover {
    color: #FFF;
    background-color: #6E8E31;
}

@media (max-width: 768px) {
    body.woocommerce-cart table.cart th,
    body.woocommerce-cart table.cart td {
        width: 100% !important;
        border: none !important;
    }

    body.woocommerce-cart table.cart .product-quantity {
        overflow: hidden;
        border-bottom: 1px solid #E0E0E0 !important;
    }

    body.woocommerce-cart .woocommerce-cart-form,
    body.woocommerce-cart .cart_totals {
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(223, 227, 232, 0.5);
        border: 1px solid #E0E0E0 !important;
        margin-bottom: 20px;
    }

    body.woocommerce-cart .woocommerce .cart-collaterals .cart_totals,
    body.woocommerce-cart .woocommerce-page .cart-collaterals .cart_totals {
        width: 100% !important;
    }
}

form.woocommerce-checkout {
    overflow: hidden;
}

form.woocommerce-checkout::after {
    clear: both;
}

form.woocommerce-checkout #customer_details {
    width: 58%;
    float: left;
}

form.woocommerce-checkout #customer_details .col-1,
form.woocommerce-checkout #customer_details .col-2 {
    float: none;
    width: 100%;
}

form.woocommerce-checkout h3 {
    font-size: 18px !important;
    text-transform: uppercase;
    color: #1A1A1E;
}

form.woocommerce-checkout h3.ship-to-different-address {
    font-size: 13px !important;
    text-transform: none;
    color: #383840;
}

form.woocommerce-checkout #order_review {
    width: 38%;
    float: right;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(223, 227, 232, 0.5);
    border: 1px solid #E0E0E0 !important;
}

form.woocommerce-checkout #order_review * {
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 300;
}

form.woocommerce-checkout #order_review .wc-gzd-checkbox-placeholder {
    overflow: hidden;
}

form.woocommerce-checkout #order_review .wc-gzd-checkbox-placeholder * {
    line-height: 120%;
}

form.woocommerce-checkout #order_review .wc-gzd-checkbox-placeholder a {
    text-decoration: underline;
}

form.woocommerce-checkout #order_review table.shop_table {
    margin-top: 20px;
    border: none;
    background-color: transparent;
}

form.woocommerce-checkout #order_review table.shop_table tr,
form.woocommerce-checkout #order_review table.shop_table th,
form.woocommerce-checkout #order_review table.shop_table td {
    background-color: transparent;
    border: none;
}

form.woocommerce-checkout #order_review table.shop_table th,
form.woocommerce-checkout #order_review table.shop_table td {
    padding: 8px 0;
    font-weight: 400;
}

form.woocommerce-checkout #order_review table.shop_table thead th {
    border-bottom: 2px solid #E0E0E0;
}

form.woocommerce-checkout #order_review table.shop_table tbody td {
    border-bottom: 1px solid #E0E0E0;
}

form.woocommerce-checkout #order_review table.shop_table tbody td.product-total {
    text-align: right;
}

form.woocommerce-checkout #order_review table.shop_table tfoot {
    padding-top: 20px;
}

form.woocommerce-checkout #order_review table.shop_table tfoot td {
    text-align: right;
}

form.woocommerce-checkout #order_review table.shop_table .order-total * {
    color: #1A1A1E;
    font-size: 16px !important;
    font-weight: 300;
}

form.woocommerce-checkout #order_review table.shop_table .cart-subtotal .order-total * {
    font-weight: 500;
}

form.woocommerce-checkout #order_review table.shop_table .order-tax *,
form.woocommerce-checkout #order_review table.shop_table .shipping * {
    text-transform: none;
    font-size: 11px;
    padding-top: 0;
}

form.woocommerce-checkout #order_review #payment {
    background: none !important;
    margin-bottom: 30px;
}

form.woocommerce-checkout #order_review #payment ul.payment_methods {
    padding: 0;
    border: none !important;
}

form.woocommerce-checkout #order_review #payment ul.payment_methods li {
    font-weight: 300;
}

form.woocommerce-checkout #order_review #payment div.payment_box {
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px rgba(223, 227, 232, 0.5);
}

form.woocommerce-checkout #order_review #payment div.payment_box::before {
    border-bottom-color: #F8F8F8;
}

form.woocommerce-checkout label:not(.woocommerce-form__label-for-checkbox) {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
}

form.woocommerce-checkout input[type=date],
form.woocommerce-checkout input[type=email],
form.woocommerce-checkout input[type=number],
form.woocommerce-checkout input[type=password],
form.woocommerce-checkout input[type=search],
form.woocommerce-checkout input[type=tel],
form.woocommerce-checkout input[type=text],
form.woocommerce-checkout input[type=url],
form.woocommerce-checkout select,
form.woocommerce-checkout textarea {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 2px !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

form.woocommerce-checkout input[type=date]:hover,
form.woocommerce-checkout input[type=date]:focus,
form.woocommerce-checkout input[type=email]:hover,
form.woocommerce-checkout input[type=email]:focus,
form.woocommerce-checkout input[type=number]:hover,
form.woocommerce-checkout input[type=number]:focus,
form.woocommerce-checkout input[type=password]:hover,
form.woocommerce-checkout input[type=password]:focus,
form.woocommerce-checkout input[type=search]:hover,
form.woocommerce-checkout input[type=search]:focus,
form.woocommerce-checkout input[type=tel]:hover,
form.woocommerce-checkout input[type=tel]:focus,
form.woocommerce-checkout input[type=text]:hover,
form.woocommerce-checkout input[type=text]:focus,
form.woocommerce-checkout input[type=url]:hover,
form.woocommerce-checkout input[type=url]:focus,
form.woocommerce-checkout select:hover,
form.woocommerce-checkout select:focus,
form.woocommerce-checkout textarea:hover,
form.woocommerce-checkout textarea:focus {
    border-color: #A0A0A0 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
}

form.woocommerce-checkout button,
form.woocommerce-checkout .button {
    height: 42px;
    border-radius: 2px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #383840;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

form.woocommerce-checkout button:hover,
form.woocommerce-checkout .button:hover {
    color: #383840;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}

form.woocommerce-checkout button#place_order {
    width: 100%;
    display: block;
    border-color: #6E8E31;
    background-color: #8CB43E;
    color: #FFF;
    font-size: 13px;
}

form.woocommerce-checkout button#place_order:hover {
    color: #FFF;
    background-color: #6E8E31;
}

/* Order received */
body.woocommerce-order-received .woocommerce-thankyou-order-received {
    font-size: 32px;
    color: #1A1A1E;
    text-align: center;
    margin: 0 0 40px;
}

body.woocommerce-order-received .woocommerce-thankyou-order-details {
    border: 1px solid #E0E0E0 !important;
    padding: 25px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 15px;
    border-radius: 4px;
}

body.woocommerce-order-received .woocommerce-thankyou-order-details * {
    font-size: 11px !important;
    color: #A0A0A0;
}

body.woocommerce-order-received .woocommerce-thankyou-order-details strong,
body.woocommerce-order-received .woocommerce-thankyou-order-details strong span {
    font-size: 13px !important;
    font-weight: 300 !important;
    color: 24px !important;
}

body.woocommerce-order-received .woocommerce-order-details {
    margin-top: 60px;
}

body.woocommerce-order-received .woocommerce-order-details h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #1A1A1E;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details {
    border: 1px solid #F8F8F8;
    box-shadow: 0 2px 4px rgba(223, 227, 232, 0.5);
    background: transparent;
    border-radius: 4px;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details * {
    border: none;
    font-weight: 300;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details thead th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details thead td {
    padding: 20px 20px;
    border-bottom: 1px solid #E0E0E0;
    font-weight: 500;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tbody th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tbody td,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot td {
    padding: 15px 20px;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(1) th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(1) td {
    border-top: 1px solid #E0E0E0;
    padding-bottom: 0;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(2) th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(2) td {
    font-size: 11px;
    padding: 0 20px 5px;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(3) th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(3) td {
    padding: 10px 20px 20px;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(4) th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(4) td {
    font-size: 24px;
    color: #1A1A1E;
    padding: 0 20px 5px;
}

body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(5) th,
body.woocommerce-order-received .woocommerce-order-details table.woocommerce-table--order-details tfoot tr:nth-child(5) td {
    font-size: 11px;
    padding: 0 20px 40px;
}

a,
a:hover,
a:active,
a:focus {
    outline: 0 !important;
}

/* Forms */
.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
input[type=number],
select,
textarea {
    display: inline;
}
