
@import "scss/variables.scss";

/*
 * 404
 */
.error404 {
    text-align: center;
    padding: 50px 20px;

    .error404-image {
        width: 70%;
        max-width: 400px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: $fontSizeHeadline;
        color: $colorHeadline;
        font-weight: $fontWeightBold;
        text-transform: uppercase;
        margin: 0 0 20px;
        padding: 0;
    }

    p {
        color: $colorText;
        font-size: $fontSizeDefault;
    }

    .button {
        @include buttonDefault;
    }
}
