/*
    Theme Name: Hello Elementor by SUPR
    Template: hello-elementor
    Description: customization of hello-elementor theme
*/

@import "scss/variables.scss";
@import "scss/basics.scss";
@import "scss/notifications.scss";
@import "scss/account.scss";
@import "scss/products.scss";
@import "scss/widgets.scss";
@import "scss/cart.scss";
@import "scss/checkout.scss";
@import "scss/received.scss";

a,
a:hover,
a:active,
a:focus {
    outline: 0 !important;
}

/* Forms */
.input-text,
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="number"],
select,
textarea {
    display: inline;
}
