/*
 * Account
 */

// Tab Navigation

nav.woocommerce-MyAccount-navigation {
    border: 1px solid $borderColor;
    border-radius: $borderRadiusM;
    box-shadow: $boxShadowWide;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            margin: 0;

            a {
                display: block;
                padding: 15px;
                font-size: $fontSizeDefault;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &::before {
                    display: none !important;
                }

                &:hover {
                    background: $greyLighter;
                    color: $colorText !important;
                }
            }

            &.is-active a {
                font-weight: 500;
                background: $greyLighter;
                color: $colorText !important;
            }
        }
    }
}

// Content

.woocommerce-MyAccount-content {
    * {
        outline: none !important;

        &:hover,
        &:focus {
            outline: none !important;
        }
    }

    h2,
    h3 {
        text-transform: uppercase;
        font-size: $fontSizeSubheadline;
    }

    .woocommerce-Address,
    .woocommerce-columns--addresses .woocommerce-column {
        border: 1px solid $borderColor;
        padding: 20px;
        border-radius: $borderRadiusM;
        box-shadow: $boxShadowWide;

        a {
            border-radius: $borderRadiusS !important;
            background-color: $greyLighter !important;
            border: 1px solid $greyLight !important;
            font-size: $fontSizeSmall !important;
            font-weight: $fontWeightBold !important;
            text-transform: uppercase;
            padding: 8px 16px !important;
            color: $colorText !important;

            &:hover {
                color: $colorText !important;
                background-color: $greyLight !important;
                border-color: $greyLight !important;
            }
        }
    }

    address,
    .woocommerce-table {
        font-size: $fontSizeDefault;
        border: none !important;
        padding: 0 !important;
    }

    // Form
    label {
        line-height: 2.5 !important;
        font-size: 10px !important;
        text-transform: uppercase !important;
    }

    .input-text,
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    textarea {
        @include formInput;
    }

    textarea.input-text {
        height: 100px !important;
        line-height: 1.5 !important;
    }

    p {
        font-size: $fontSizeDefault;
    }

    // Tables

    table {
        border: none !important;
        background: transparent !important;
        margin: 0 !important;

        tr,
        th,
        td {
            border: none !important;
            background: transparent !important;
            margin: 0 !important;
        }

        th {
            font-weight: $fontWeightBold !important;
            text-transform: uppercase;
        }

        * {
            font-size: $fontSizeSmall;
        }
    }

    table.woocommerce-orders-table th {
        border-bottom: 1px solid #E0E0E0 !important;
    }

    table.woocommerce-orders-table tbody tr:hover {
        background: #FAFAFA !important;
    }

    // Button
    .button,
    .woocommerce-button {
        border-radius: $borderRadiusS !important;
        background-color: $greyLighter !important;
        border: 1px solid $greyLight !important;
        font-size: $fontSizeSmall !important;
        font-weight: $fontWeightBold !important;
        text-transform: uppercase;
        padding: 8px 16px !important;
        color: $colorText !important;

        &:hover {
            color: $colorText !important;
            background-color: $greyLight !important;
            border-color: $greyLight !important;
        }
    }
}
