// Disable outline
a:focus,
input:focus,
textarea:focus,
button:focus,
a:hover,
input:hover,
textarea:hover,
button:hover {
    outline: none;
}

fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $borderColor;
}
