
body.woocommerce-cart {
    h2 {
        font-size: $fontSizeSubheadline;
        text-transform: uppercase;
        color: $colorHeadline;
    }

    .woocommerce .cart-collaterals .cart_totals,
    .woocommerce-page .cart-collaterals .cart_totals {
        width: 40%;
    }

    table {
        border: none !important;
        background: transparent;

        * {
            font-size: 12px;
        }

        th {
            font-weight: 500 !important;
        }

        &.cart {
            tr,
            thead,
            tfoot {
                border: none;
            }

            td,
            th {
                padding: 8px;
                border-top: none !important;
                border-right: none;
                border-bottom: 1px solid $borderColor;
                border-left: none;
                background: transparent !important;
            }

            tr {
                background: transparent !important;

                &:hover {
                    td,
                    th {
                        background-color: $greyLighter !important;
                    }
                }
            }

            .product-price,
            .product-subtotal,
            .product-quantity {
                text-align: right;
                width: 160px;

                input {
                    float: right;
                }
            }

            .product-remove {
                text-align: center;
                width: 40px;
            }

            .product-thumbnail {
                width: 60px;
            }
        }
    }

    .cart_totals {
        padding: 20px;
        border-radius: $borderRadiusM;
        box-shadow: $boxShadowDefault;
        border: 1px solid $borderColor;

        table {
            tr,
            thead,
            tfoot {
                border: none;
            }

            td,
            th {
                padding: 4px;
                border: none !important;
            }

            tr,
            td,
            th {
                background: transparent !important;
            }

            th {
                font-weight: 500;
            }

            .cart-subtotal,
            .shipping,
            .order-total,
            .order-tax {
                td {
                    text-align: right;
                }
            }

            .order-total {
                th,
                td,
                .amount {
                    padding-top: 15px;
                    font-size: $fontSizeLarge !important;
                    color: $colorHeadline;
                }
            }

            .order-tax {
                th,
                td {
                    padding: 0 8px;
                    font-size: $fontSizeSmall;
                }
            }
        }

        .shipping-calculator-button {
            text-decoration: underline;
            margin: 0;
            padding: 0;

            &::after {
                display: none;
            }
        }
    }

    // Forms

    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
        @include formInput;
    }

    input#coupon_code {
        min-width: 160px;
    }

    button,
    .button {
        @include buttonDefault;
    }

    a.button.alt {
        border-color: $colorSuccessHover;
        background-color: $colorSuccess;
        color: #FFF;
        font-size: $fontSizeDefault;

        &:hover {
            color: #FFF;
            background-color: $colorSuccessHover;
        }
    }
}

@media (max-width: 768px) {
    body.woocommerce-cart {
        table.cart {
            th,
            td {
                width: 100% !important;
                border: none !important;
            }

            .product-quantity {
                overflow: hidden;
                border-bottom: 1px solid $borderColor !important;
            }
        }

        .woocommerce-cart-form,
        .cart_totals {
            padding: 15px;
            border-radius: $borderRadiusM;
            box-shadow: $boxShadowDefault;
            border: 1px solid $borderColor !important;
            margin-bottom: 20px;
        }

        .woocommerce .cart-collaterals .cart_totals,
        .woocommerce-page .cart-collaterals .cart_totals {
            width: 100% !important;
        }
    }
}
