
form.woocommerce-checkout {

    // Layout

    overflow: hidden;

    &::after {
        clear: both;
    }

    #customer_details {
        width: 58%;
        float: left;

        .col-1,
        .col-2 {
            float: none;
            width: 100%;
        }
    }

    // Headline

    h3 {
        font-size: $fontSizeSubheadline !important;
        text-transform: uppercase;
        color: $colorHeadline;

        &.ship-to-different-address {
            font-size: $fontSizeDefault !important;
            text-transform: none;
            color: $colorText;
        }
    }

    // Review

    #order_review {
        width: 38%;
        float: right;
        padding: 20px;
        border-radius: $borderRadiusM;
        box-shadow: $boxShadowDefault;
        border: 1px solid $borderColor !important;

        * {
            font-size: 12px;
            line-height: 1.1em;
            font-weight: $fontWeightNormal;
        }

        // Germanized

        .wc-gzd-checkbox-placeholder {
            overflow: hidden;

            * {
                line-height: 120%;
            }

            a {
                text-decoration: underline;
            }
        }

        table.shop_table {
            margin-top: 20px;
            border: none;
            background-color: transparent;

            tr,
            th,
            td {
                background-color: transparent;
                border: none;
            }

            th,
            td {
                padding: 8px 0;
                font-weight: 400;
            }

            thead {
                th {
                    border-bottom: 2px solid $borderColor;
                }
            }

            tbody {
                td {
                    border-bottom: 1px solid $borderColor;

                    &.product-total {
                        text-align: right;
                    }
                }
            }

            tfoot {
                padding-top: 20px;

                td {
                    text-align: right;
                }
            }

            .order-total * {
                color: $colorHeadline;
                font-size: $fontSizeLarge !important;
                font-weight: $fontWeightNormal;
            }

            .cart-subtotal .order-total {
                * {
                    font-weight: 500;
                }
            }

            .order-tax,
            .shipping {
                * {
                    text-transform: none;
                    font-size: $fontSizeSmall;
                    padding-top: 0;
                }
            }
        }

        #payment {
            background: none !important;
            margin-bottom: 30px;

            ul.payment_methods {
                padding: 0;
                border: none !important;

                li {
                    font-weight: $fontWeightNormal;
                }
            }

            div.payment_box {
                background-color: $greyLighter;
                box-shadow: $boxShadowDefault;

                &::before {
                    border-bottom-color: $greyLighter;
                }
            }
        }
    }

    // Forms

    label:not(.woocommerce-form__label-for-checkbox) {
        font-size: $fontSizeSmall;
        text-transform: uppercase;
        font-weight: $fontWeightBold;
    }

    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
        @include formInput;
    }

    button,
    .button {
        @include buttonDefault;
    }

    button#place_order {
        width: 100%;
        display: block;
        border-color: $colorSuccessHover;
        background-color: $colorSuccess;
        color: #FFF;
        font-size: $fontSizeDefault;

        &:hover {
            color: #FFF;
            background-color: $colorSuccessHover;
        }
    }
}
