/* Messages */

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border: 1px solid $borderColor;
    border-radius: $borderRadiusM;
    padding: 15px;
    font-size: $fontSizeDefault;
    color: $colorText;

    &::before {
        display: none;
        visibility: hidden;
    }

    a {
        color: $colorText !important;
        text-decoration: underline;

        &:hover,
        &:active {
            color: $colorHeadline;
        }
    }
}

.woocommerce-error {
    background: $colorDangerBackground;
    border: 1px solid $colorDanger;
}

.woocommerce-info {
    background: $greyLighter;
    border-color: $borderColor;
}

.woocommerce-message {
    background: #F4F4F4;
    border: 1px solid #C6C6C7;
}

.woocommerce-notices-wrapper {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 999;

    .woocommerce-message {
        border: none;
        border-radius: $borderRadiusM;
        background: #FFF;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);

        a.button {
            @include buttonDefault(36px, 0 20px);

            line-height: 36px;
        }
    }
}
