/*
 * Products
 */

// Catalog

ul.products {
    padding: 0;
}

.elementor-widget-woocommerce-products.elementor-wc-products .added_to_cart {
    display: none;
}

// Stock

.stock.in-stock,
.stock.out-of-stock {
    color: $colorTextLight;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 10px;
    background: $greyLighter;
}

.stock.out-of-stock {
    color: $colorDanger;
}

.stock.in-stock::before,
.stock.out-of-stock::before {
    display: none !important;
    visibility: hidden !important;
}

// Quantity

.woocommerce .quantity {
    margin-right: 0.5em !important;

    .qty {
        width: auto;
    }
}

// Product Price

.woocommerce div.product p.price {
    color: $colorHeadline;
}

// Variations table

.woocommerce div.product form.variations_form {
    table.variations {
        * {
            border: none;
            background: transparent;
            text-align: left;
        }

        th,
        td {
            min-height: 45px;
        }

        td.value::before {
            content: none !important;
        }

        select {
            @include formInput;

            position: inherit !important;
        }

        a.reset_variations {
            margin-left: 0.5em;
        }
    }

    .single_variation_wrap > div {
        margin-top: 1em !important;
    }
}

// Attributes Table

.woocommerce-product-attributes.shop_attributes {
    * {
        border: none;
        text-align: left;
        background: transparent !important;
    }

    tr,
    th,
    td {
        border: none !important;
    }
}

// Quantity

.wc-gzd-additional-info {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 10px !important;
    color: #999 !important;
    display: inline !important;
    line-height: 0.9em;

    a {
        color: #999 !important;
        text-decoration: underline !important;

        &:hover {
            color: #666 !important;
        }
    }
}
