/* Order received */

body.woocommerce-order-received {

    // Headline

    .woocommerce-thankyou-order-received {
        font-size: 32px;
        color: $colorHeadline;
        text-align: center;
        margin: 0 0 40px;
    }

    // Order Details

    .woocommerce-thankyou-order-details {
        border: 1px solid $borderColor !important;
        padding: 25px;
        -webkit-box-shadow: $boxShadowWide;
        box-shadow: $boxShadowWide;
        border-radius: $borderRadiusM;

        * {
            font-size: $fontSizeSmall !important;
            color: $grey;
        }

        strong,
        strong span {
            font-size: $fontSizeDefault !important;
            font-weight: $fontWeightNormal !important;
            color: $fontSizeHeadline !important;
        }
    }

    // Order Table

    .woocommerce-order-details {
        margin-top: 60px;

        h2 {
            font-size: $fontSizeSubheadline;
            text-transform: uppercase;
            color: $colorHeadline;
        }

        table.woocommerce-table--order-details {
            border: 1px solid $greyLighter;
            box-shadow: $boxShadowDefault;
            background: transparent;
            border-radius: $borderRadiusM;

            * {
                border: none;
                font-weight: $fontWeightNormal;
            }

            thead {
                th,
                td {
                    padding: 20px 20px;
                    border-bottom: 1px solid $borderColor;
                    font-weight: $fontWeightBold;
                }
            }

            tbody,
            tfoot {
                th,
                td {
                    padding: 15px 20px;
                }
            }

            tfoot {
                tr:nth-child(1) {
                    th,
                    td {
                        border-top: 1px solid $borderColor;
                        padding-bottom: 0;
                    }
                }

                tr:nth-child(2) {
                    th,
                    td {
                        font-size: $fontSizeSmall;
                        padding: 0 20px 5px;
                    }
                }

                tr:nth-child(3) {
                    th,
                    td {
                        padding: 10px 20px 20px;
                    }
                }

                tr:nth-child(4) {
                    th,
                    td {
                        font-size: $fontSizeHeadline;
                        color: $colorHeadline;
                        padding: 0 20px 5px;
                    }
                }

                tr:nth-child(5) {
                    th,
                    td {
                        font-size: $fontSizeSmall;
                        padding: 0 20px 40px;
                    }
                }
            }
        }
    }
}
