// Font

$fontSizeDefault: 13px;
$fontSizeLarge: 16px;
$fontSizeSmall: 11px;
$fontSizeTiny: 10px;
$fontSizeHeadline: 24px;
$fontSizeSubheadline: 18px;
$fontWeightNormal: 300;
$fontWeightBold: 500;
$textShadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
$colorHeadline: #1A1A1E;
$colorText: #383840;
$colorTextLight: #858585;
$colorTextLighter: #C7C7C7;

// Grey

$greyLighter: #F8F8F8;
$greyLight: #E0E0E0;
$grey: #A0A0A0;
$greyDark: #545454;
$greyDarker: #262626;

// Border

$borderRadiusS: 2px;
$borderRadiusM: 4px;
$borderRadiusL: 6px;
$borderColor: #E0E0E0;

// Box Shadow

$boxShadowDefault: 0 2px 4px rgba(223, 227, 232, 0.5);
$boxShadowWide: rgba(0, 0, 0, 0.05) 0 3px 15px;
$boxShadowButton: 2px 2px 0 0 rgba(223, 227, 232, 0.5);

// Colors

$colorDanger: #BD392F;
$colorDangerBackground: #FFF5F4;
$colorSuccess: #8CB43E;
$colorSuccessHover: darken($colorSuccess, 10%);
$colorSuccessBackground: #F5FBE9;
$colorInfo: #2F78BC;
$colorInfoBackground: #EEF5FC;
$colorWarning: #F29B26;
$colorWarningBackground: #FFF6EA;

// Forms

@mixin formInput() {
    height: 42px !important;
    line-height: 42px !important;
    border-radius: $borderRadiusS !important;
    padding: 0 10px !important;
    display: block;
    border: 1px solid $borderColor !important;
    background: #FFF !important;
    font-weight: 400 !important;
    font-size: $fontSizeDefault !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
        border-color: $grey !important;
        -webkit-box-shadow: $boxShadowWide;
        box-shadow: $boxShadowWide;
    }
}

@mixin buttonDefault($height: 42px, $padding: 8px 16px) {
    height: $height;
    border-radius: $borderRadiusS;
    background-color: $greyLighter;
    border: 1px solid $greyLight;
    font-size: $fontSizeSmall;
    font-weight: $fontWeightBold;
    text-transform: uppercase;
    padding: $padding;
    color: $colorText;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
        color: $colorText;
        background-color: $greyLight;
        border-color: $greyLight;
    }
}
