// Sidebar

.widget {
    font-size: 13px;
    margin-bottom: 40px;

    .widget-title {
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
        font-weight: 300;
        text-transform: uppercase;
    }

    // Forms

    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
        @include formInput;
    }

    button,
    .button,
    .search-submit,
    input[type="submit"] {
        @include buttonDefault;
    }

    form.woocommerce-product-search {
        button {
            display: block;
            width: 100%;
            margin-top: 5px;
        }
    }

    // List

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 2px 0;

            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
    }
}

// Widget Recent Products

.widget.widget_recently_viewed_products {
    li {
        margin-bottom: 20px;

        span.woocommerce-Price-amount {
            display: block;
            margin-bottom: 10px;
        }

        p.wc-gzd-additional-info {
            margin: 0;
            padding: 0;
            font-size: 10px;
            line-height: 0.9em;
            color: #999;

            a {
                font-weight: normal;
                color: #999;
                text-decoration: underline;
            }
        }
    }
}

// Widget Price Filter

.widget.widget_price_filter {
    .widget-title {
        margin-bottom: 20px;
    }

    .ui-slider {
        background-color: $greyLight;

        .ui-slider-range,
        .ui-slider-handle {
            background-color: $greyDark;
        }
    }
}
