/*
    Theme Name: Storefront by SUPR
    Template: storefront
*/

/*
 * Global
 */

a,
a:hover,
a:active,
a:focus {
    outline: 0 !important;
}

/*
 * SUPR Theme
 */

.site-header {
    border: none;
    padding: 40px 0;
}

.storefront-breadcrumb {
    display: none;
    visibility: hidden;
}

.site-footer {
    background: #FFF;
    padding: 40px 0 100px;
    border-top: 1px solid #E8E8E9;
    margin: 50px 0 0;
}

.site-footer * {
    font-size: 11px;
}

.site-footer ul {
    list-style: none;
    text-align: center;
}

.site-footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

/*
 * 404 Page not found
 */

.page-not-found {
    text-align: center;
    min-height: 400px;
    padding: 100px 50px;
    font-family: "Montserrat", sans-serif;
}

.page-not-found h1 {
    font-size: 160px;
    font-weight: 100;
    text-transform: uppercase;
}

.page-not-found span {
    display: inline-block;
    padding: 40px;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
    border-radius: 3px;
}

.page-not-found span a {
    font-size: 80%;
    font-weight: 600;
}

/*
 * Single product
 */

.single-product div.product table.variations .value {
    margin-bottom: 0;
}

.woocommerce div.product.elementor form.cart table.variations td.value::before {
    display: none;
    width: 0;
    max-width: 0;
}

.woocommerce div.product.elementor form.cart table.variations td.value select {
    background: #FFF;
    border: 1px solid #CCC;
    top: auto;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.woocommerce div.product.elementor form.cart table.variations td.value select:hover,
.woocommerce div.product.elementor form.cart table.variations td.value select:active,
.woocommerce div.product.elementor form.cart table.variations td.value select:focus {
    border-color: #777;
}

/*
 * Forms
 */

.input-text,
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    display: block;
    border: 1px solid #E0E0E0 !important;
    background: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    padding: 10px 5px;
    line-height: 100%;
    color: #555;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*
 * Sidebar and widgets
 */

.widget {
    font-size: 0.85em;
}

.widget .widget-title,
.widget .widgettitle {
    padding: 0 0 0.5em;
    margin-bottom: 0.5em;
}

.widget_recent_entries ul li,
.widget_pages ul li,
.widget_categories ul li,
.widget_archive ul li,
.widget_recent_comments ul li,
.widget_nav_menu ul li,
.widget_links ul li,
.widget_product_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li {
    padding-left: 0;
}

.widget_recent_entries ul li::before,
.widget_pages ul li::before,
.widget_categories ul li::before,
.widget_archive ul li::before,
.widget_recent_comments ul li::before,
.widget_nav_menu ul li::before,
.widget_links ul li::before,
.widget_product_categories ul li::before,
.widget_layered_nav ul li::before,
.widget_layered_nav_filters ul li::before {
    display: none;
    visibility: hidden;
}

form.lost_reset_password {
    width: 600px;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #E8E8E9;
}

form.lost_reset_password .woocommerce-form-row,
form.lost_reset_password #user_login,
form.lost_reset_password .woocommerce-Button {
    width: 100%;
    display: block;
}

form.lost_reset_password #user_login {
    padding: 15px;
}

/*
 * Cookie notice by cookie consent
 */

#catapult-cookie-bar {
    font-size: 12px;
    line-height: 130%;
}

#catapult-cookie-bar h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

.has-cookie-bar #catapult-cookie-bar {
    padding: 15px;
}

/*
 * WooCommerce messages
 */

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: #FAFAFA !important;
    border: 1px solid #E2E2E2 !important;
    color: #858585;
}

.woocommerce-info a,
.woocommerce-noreviews a,
p.no-comments a {
    text-decoration: underline;
}

body.woocommerce-cart .cart-empty {
    font-size: 110%;
    text-transform: uppercase;
}

/*
 * WooCommerce stock display
 */

.stock.in-stock,
.stock.out-of-stock {
    color: #6D6D6D;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 10px;
    background: #F8F8F8;
}

.stock.out-of-stock {
    color: #E06868;
}

.stock.in-stock::before,
.stock.out-of-stock::before {
    display: none !important;
    visibility: hidden !important;
}

/*
 * WooCommerce order received
 */

.woocommerce-order-received .woocommerce {
    max-width: 700px;
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
    text-align: center;
    text-transform: uppercase;
    font-size: 160%;
    font-weight: 400;
}

.woocommerce-order-received strong {
    font-weight: 400 !important;
}

.woocommerce-order-received .woocommerce-customer-details {
    overflow: hidden;
    margin-top: 50px;
}

/*
 * Woo Gallery fix for @german
 */

.woo-variation-product-gallery {
    max-width: 100% !important;
}
